/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* cores */
:root{
    --azulclaro: #0b99db;
    --azulescuro: #041521;
    --branco: #f6f6f6;
    --azulbotao: #00008B;
}

/**/

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Orbitron", sans-serif;
      outline: none;
      border: none;
      text-transform: capitalize;
      transition: .2s linear;
  }
      








/* main*/ 

.subtitulo { 
  font-family: "Orbitron", sans-serif;
  color:#0b99db; 
  display: flex;
  justify-content: center;
  height: 70;
 
}

.topo{
width: 1470px;
 height: 500px;
}


.Catalogo-de-produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/*buttons*/ 

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
 
}
.buttons1{
  background-color: #0b99db;
  border: none;
  color:#f6f6f6 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  animation: pulse 2s infinite;
  
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.buttons1:hover {
  animation: none;
}

.buttons2{
  background-color: #0b99db;
  border: none;
  color:#f6f6f6 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  animation: pulse 2s infinite;

}

.buttons3{
  background-color: #0b99db;
  border: none;
  color:#f6f6f6 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  animation: pulse 2s infinite;

}
.buttons1, .buttons2, .buttons3 {
  cursor: pointer;
}

/*texto*/
.texto{
  text-align: center;
  margin-top: 20px;
  font-size: 15px
  
}

 .d-block w-100{
    width: 450;
    height: 500;
 }




/*avaliações*/

.cards !important{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 980px;
  margin: 0 auto;
  grid-gap: 40px;
 
}
.card{
 
  margin: 20px;
  background-color: #f6f6f6;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}
.card .user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.star{
    width: 15px;
  }
.card h3{
  font-family: "Orbitron", sans-serif;
  margin-bottom: 5px;
}
.card p{
 
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
}
.user1{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.card1{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 980px;
  margin: 0 auto;
  grid-gap: 40px;

}


