@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');






/* estilização rodapé*/
.rodape {
    padding: 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ajuste para iniciar o alinhamento vertical */
    background-color: #1F2120;
}

.titulo-rodape {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.logo-rodape {
    padding: 26px;
    height: 150px;
}

.redes-container {
    display: flex;
    flex-direction: column;
}

.redes-sociais {
    height: 13px;
    margin-right: 8px;
}

.texto-redes-sociais {
    color: white;
    font-size: 18px;
}

.redes-container a {
    text-decoration: none;
}
