{% extends "perfil.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/avaliacao.css') }}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link href='avaliacao.css' rel='stylesheet'>
{% endblock %}
<body>

{% block main1 %}
<main> 
    <h1 class="subtitulo">Avaliação</h1>
    <h1 class="texto">Olá, <strong>{{current_user.username}}! Como foi a sua experiência?</strong></h1>
    
{% endblock %}

{% block main2 %}
<div class="wrapper">
    <h1>Faça sua avaliação aqui.</h1>
    <form action="#">
        <div class="rating">
            <input type="number" name="rating" hidden>
            <i class='bx bx-star star' style="--i: 0;"></i>
            <i class='bx bx-star star' style="--i: 1;"></i>
            <i class='bx bx-star star' style="--i: 2;"></i>
            <i class='bx bx-star star' style="--i: 3;"></i>
            <i class='bx bx-star star' style="--i: 4;"></i>
        </div>
        <textarea name="opinion" cols="30" rows="5" placeholder="Sua opinião..."></textarea>
        <div class="btn-group">
            <button type="submit" class="btn submit"><strong>ENVIAR</strong></button>
            <button class="btn cancel"> <strong>CANCELAR</strong></button>
        </div>
    </form>
</div>

<script>
const allStar = document.querySelectorAll('.rating .star')
const ratingValue = document.querySelector('.rating input')

allStar.forEach((item, idx)=> {
	item.addEventListener('click', function () {
		let click = 0
		ratingValue.value = idx + 1

		allStar.forEach(i=> {
			i.classList.replace('bxs-star', 'bx-star')
			i.classList.remove('active')
		})
		for(let i=0; i<allStar.length; i++) {
			if(i <= idx) {
				allStar[i].classList.replace('bx-star', 'bxs-star')
				allStar[i].classList.add('active')
			} else {
				allStar[i].style.setProperty('--i', click)
				click++
			}
		}
	})
})
</script>
    </main>
    
{% endblock %}
    
    </body>

