<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <title>Cadastro</title>
</head>

<body>
    <div class="voltar">
        <a href="{{ url_for('homepage') }}"><button><strong>VOLTAR</strong></button></a>
        
    </div>

  
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='images/logoPNG.png') }}">
        </div>

        <div class="form">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre-se</h1>
                </div>
            </div>
            
            <form method="POST">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.username.label(class_="form-label") }}
                    {{ form.username(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.userlastname.label(class_="form-label") }}
                    {{ form.userlastname(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.senha.label(class_="form-label") }}
                    {{ form.senha(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.confirmacao_senha.label(class_="form-label") }}
                    {{ form.confirmacao_senha(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.cpf.label(class_="form-label") }}
                    {{ form.cpf(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.endereco.label(class_="form-label") }}
                    {{ form.endereco(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.complemento.label(class_="form-label") }}
                    {{ form.complemento(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.cidade.label(class_="form-label") }}
                    {{ form.cidade(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.uf.label(class_="form-label") }}
                    {{ form.uf(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.cep.label(class_="form-label") }}
                    {{ form.cep(class_="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.telefone.label(class_="form-label") }}
                    {{ form.telefone(class_="form-input") }}
                </div>

                <div class="form-button-group">
                    {{ form.botao_confirmacao(class_="form-button") }}
                </div>
            </form>

            <div class="login-link">
                <strong>  Já possui uma conta? </strong> <a href="/login"><strong> LOGIN </strong></a>.
            </div>
        </div>
    </div>

</body>
</html>
