{% extends "perfil.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}
<body>

{% block main1 %}
<main> 
    <div class=Subtitulo-base>
    <h1 class="subtitulo"> Meu Carrinho </h1>
    </div>
    <h1 class="texto"> Olá, <strong>{{current_user.username}}</strong>! Confira os itens adicionados ao carrinho:  </h1>
    
{% endblock %}

{% block main2 %}

<br></br>
{% if itens_personalizados %}
<div class="carrinho-container">
    <table>
        <thead>
            <tr>
                <th style="color: #0098db; font-weight: bold;">Foto Categoria</th>
                <th style="color: #0098db; font-weight: bold;">Imagem Escolhida</th>
                <th style="color: #0098db; font-weight: bold;">Categoria</th>
                <th style="color: #0098db; font-weight: bold;">Cor</th>
                <th style="color: #0098db; font-weight: bold;">Tamanho</th>
                <th style="color: #0098db; font-weight: bold;">Quantidade</th>
                <th style="color: #0098db; font-weight: bold;">Tecido</th>
                <th style="color: #0098db; font-weight: bold;">Texto</th>
                <th style="color: #0098db; font-weight: bold;">Observação</th>
                <th style="color: #0098db; font-weight: bold;">Ações</th>
            </tr>
        </thead>
        <tbody> 
            {% for item in itens_personalizados %}
            <tr>
                <td>
                    {% if item.categoria == 'tradicional' %}
 	                    <img src="{{ url_for('static', filename='images/categorias/tradicional.jpeg') }}" alt="Miniatura Tradicional" width="80">
                    {% elif item.categoria == 'uniforme' %}
	                    <img src="{{ url_for('static', filename='images/categorias/uniforme.jpeg') }}" alt="Miniatura Uniforme" width="80">
                    {% elif item.categoria == 'esportiva' %}
	                    <img src="{{ url_for('static', filename='images/categorias/esportiva.jpeg') }}" alt="Miniatura Esportiva" width="80">
                    {% elif item.categoria == 'golapolo' %}
                        <img src="{{ url_for('static', filename='images/categorias/golaPolo.jpeg') }}" alt="Miniatura Gola Polo" width="80">
                    {% elif item.categoria == 'golaV' %}
                        <img src="{{ url_for('static', filename='images/categorias/golaV.jpeg') }}" alt="Miniatura Gola V" width="80">
                    {% elif item.categoria == 'longa' %}
                        <img src="{{ url_for('static', filename='images/categorias/longa.jpeg') }}" alt="Miniatura Manga Longa" width="80">
                    {% elif item.categoria == 'oversized' %}
                        <img src="{{ url_for('static', filename='images/categorias/oversized.jpeg') }}" alt="Miniatura Oversized" width="80">
                    {% elif item.categoria == 'personalizada' %}
                        <img src="{{ url_for('static', filename='images/categorias/personalizada.jpeg') }}" alt="Miniatura Personalizada" width="80">
                    {% elif item.categoria == 'raglan' %}
                        <img src="{{ url_for('static', filename='images/categorias/raglan.jpeg') }}" alt="Miniatura Raglan" width="80">
                    {% endif %}
                </td>
                <td>
                    {% if item.foto %}
                        <img src="{{ url_for('static', filename='images/fotos_camisas/' + item.foto) }}" alt="Imagem da Camiseta" width="80">
                    {% endif %}
                </td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.categoria }}</td>
                <td style="font-size: 12px; font-weight: bold;"><div class="color-circle" style="background-color: {{ item.cor }};"></div> 
                {{ item.cor }}
                </td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.tamanho }}</td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.quantidade }}</td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.tecido }}</td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.texto_camisa }}</td>
                <td style="font-size: 12px; font-weight: bold;">{{ item.observacao }}</td>
                <td>
                    <a href="{{ url_for('editar_item', id=item.id) }}" class="botao-editar"><strong>Editar</strong></a>
                    <a href="{{ url_for('deletar_item', id=item.id) }}" class="botao-deletar" onclick="return confirm('Tem certeza que deseja deletar este item?');"><strong>Deletar</strong></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <div class="voltar">
        <a href="{{ url_for('minhaconta') }}"><button class="botao1" type="button"><strong>VOLTAR</strong></button></a>
    </div>
{% else %}
    <h1 class="texto">Seu carrinho está vazio!</h1>
    <div class="voltar">
        <a href="{{ url_for('minhaconta') }}"><button class="botao1" type="button"><strong>VOLTAR</strong></button></a>
    </div>
{% endif %}

</main>
{% endblock %}

</body>