<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximus Camisaria</title>
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    {% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <a href="/" > <img class="logo" src= "{{ url_for('static', filename='images/logoPNG.png') }}" alt="Logo"></a>

        <nav class="navbar">
            <a href="/">início</a>
            <a href="/produtos">produtos</a>
            <a href="/personalizar">personalizar</a>
            <a href="#central">central</a>
            <a href="#favoritos">favoritos</a>
            <a href="/login">Login</a>
        </nav>

    </header>
    {% endblock %}

    {% block main %}
    <main> olá </main>
    {% endblock %}

    {% block footer %}
    <footer class="rodape">
        <div>
            <div class="redes-container">
                <h3 class="titulo-rodape"> ENTRE EM CONTATO: </h3>
                <a href="https://www.instagram.com/">
                    <img class="redes-sociais" src="{{ url_for('static', filename='images/rodape/insta.webp') }}" alt="Instagram">
                    <span class="texto-redes-sociais">maximuscamisariaoficial</span>
                </a>
                <br>
                <a href="https://web.whatsapp.com/">
                    <img class="redes-sociais" src="{{ url_for('static', filename='images/rodape/whatsapp.png') }}" alt="WhatsApp">
                    <span class="texto-redes-sociais">(38) 9914-0566</span>
                </a>
            </div>
        </div>
        <a href="/"> <img class="logo-rodape" src="{{ url_for('static', filename='images/rodape/logoRodapé.jpeg') }}" alt="imagem"> </a>
    </footer>
    {% endblock %}
</body>
</html>