{% extends "perfil.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/mensagem.css') }}">

{% endblock %}

{% block main1 %}
<h1 class="texto">Olá, <strong class="username">{{current_user.username}}!</strong></h1>
{% endblock %}

{% block main2 %}
<div class="mensagem">
    <img src="{{ url_for('static', filename='images/mensagem.png') }}" alt="Sucesso" class="imagemMensagem">
    <h1 class="ava">{{ titulo }}</h1> <br>
    <p><strong>{{ mensagem  | safe }}</strong></p>
</div>
{% endblock %}
