{% extends "homepage.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/personalizar.css') }}">
{% endblock %}

{% block header %}
<header>
    <a href="/"> <img class="logo" src="{{ url_for('static', filename='images/logoPNG.png') }}" alt="Logo"></a>
    <nav class="navbar">
        <a href="{{ url_for('perfil', id_usuario=current_user.id) }}">início</a>
        <a href="/produtos">produtos</a>
        <a href="/personalizar">personalizar</a>
        <a href="/fale">fale conosco</a>
        <a href="/carrinho">minha conta</a>
        <a href="{{ url_for('logout') }}"> <button class="botao1" type="button"> <strong> SAIR </strong></button></a>
    </nav>
</header>
{% endblock %}

{% block main1 %}
<main>
    <div class="Subtitulo-base">
        <h1 class="subtitulo"> Olá, {{current_user.username}} !</h1>
        <h1 class="texto"> Personalize o seu pedido e encaminhe para orçamento: </h1>
    </div>
{% endblock %}

{% block main2 %}
<section class="personalizar">
    <div class="boxContainer">
        <div class="box">
            <div class="formulario-container">
                <div class="imagem-grande">
                    <img id="imagem-grande" src="{{ url_for('static', filename='images/categorias/personalizada.jpeg') }}" alt="Camiseta Escolhida">
                </div>

                <div class="formulario">
                    <form method="POST" action="{{ url_for('personalizar') }}" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <h1 class="categoria"><strong>CAMISETA PERSONALIZADA</strong></h1><br><br>
                        <div class="selecao">
                            {{ form.categoria.label }}
                            {{ form.categoria(onchange="selecionarCamiseta(this.value)") }}
                        </div>
                        {{ form.foto.label }}<br>
                        {{ form.foto }}<br><br>

                        {{ form.tamanho.label }}<br>
                        {{ form.tamanho }}<br><br>

                        {{ form.quantidade.label }}<br>
                        {{ form.quantidade }}<br><br>
                        <label for="cor">Cor:</label><br>
                        <div class="seletor-cor">
                            {% for color, label in cores %}
                                <button type="button" class="cor {{ label | lower }}" value="{{ color }}" onclick="selecionarCor(this)"></button>
                            {% endfor %}
                        </div>
                        {{ form.cor }}<br><br>              

                        {{ form.tecido.label }}<br>
                        {{ form.tecido }}<br><br>

                        {{ form.texto_camisa.label }}<br>
                        {{ form.texto_camisa }}<br><br>

                        {{ form.observacao.label }}<br>
                        {{ form.observacao(cols=30, rows=5) }}<br><br>
                        {{ form.botao_confirmacao(class_="botao") }}
                        
                </form>
                
                </div>
            </div>
            
        </div>
    </div>
    
</section>

<script>
function selecionarCamiseta(tipo) {
    var imagemGrande = document.getElementById('imagem-grande');
    if (tipo === "personalizada") {
        imagemGrande.src = "{{ url_for('static', filename='images/categorias/personalizada.jpeg') }}";
    } else {
        imagemGrande.src = "{{ url_for('static', filename='images/categorias/') }}" + tipo + ".jpeg";
    }
}

function selecionarCor(botao) {
    var corSelecionada = botao.value;
    document.getElementById("cor").value = corSelecionada;
    var botoesCor = document.querySelectorAll(".cor");
    botoesCor.forEach(function(botao) {
        botao.classList.remove("selecionado");
    });
    botao.classList.add("selecionado");
}
</script>
</main>
{% endblock %}
