{% extends "homepage.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/personalizar.css') }}">
{% endblock %}

{% block main %}
<section class="produtos" id="produtos">
    <section class="produtos" id="produtos">
        <div class="box-container">
            <div class="box">
                <h1 class="categoria">ESCOLHA O TIPO PARA PERSONALIZAR</h1>
                <div class="selecao-tipo">
                    <select id="tipo-camiseta" onchange="selecionarCamiseta(this.value)">
                        <option value="blank">Selecione o tipo de camiseta</option>
                        <option value="tradicional">Camiseta Tradicional</option>
                        <option value="raglan">Camiseta Raglan</option>
                        <option value="esportiva">Camiseta Esportiva</option>
                        <option value="uniforme">Uniformes Escolares</option>
                        <option value="longa">Camiseta Manga Longa</option>
                        <option value="golaV">Camiseta Gola V</option>
                        <option value="golaPolo">Camiseta Gola Polo</option>
                        <option value="oversized">Camiseta Oversized</option>
                        <option value="personalizada">Camiseta Personalizada</option>
                        <!-- Adicione mais opções conforme necessário -->
                    </select>
     
    
        <div id="formulario" class="formulario oculto">
            <div class="imagem-grande">
                <img id="imagem-grande" src="{{ url_for('static', filename='images/categorias/blank.jpg') }}" alt="Camiseta Escolhida">
            </div>
                        <form action="#">
                <!-- Adicione os campos do formulário aqui -->
                <h2>ESCOLHA O TIPO PARA PERSONALIZAR</h2>
                <label for="tamanho">Tamanho:</label>
                <select name="tamanho" id="tamanho">
                    <option value="PP">PP</option>
                    <option value="P">P</option>
                    <option value="M">M</option>
                    <option value="G">G</option>
                    <option value="XG">XG</option>
                    <option value="XXG">XXG</option>
                </select>
                    <h2>PREENCHA O FORMULÁRIO PARA PERSONALIZAR</h2>
                        <form action="/enviar_personalizacao" method="POST">
                            <label for="tipo_camiseta">Tipo de Camiseta:</label>
                            <input type="text" id="tipo_camiseta" name="tipo_camiseta" readonly><br><br>
                            <label for="tamanho">Tamanho:</label>
                            <input type="text" id="tamanho" name="tamanho" required><br><br>
                            <label for="especificacao">Especificação:</label>
                            <input type="text" id="especificacao" name="especificacao" required><br><br>
                            <label for="cor">Cor:</label>
                            <input type="text" id="cor" name="cor" required><br><br>
                            <label for="quantidade">Quantidade:</label>
                            <input type="number" id="quantidade" name="quantidade" min="1" required><br><br>
                            <label for="observacao">Observação:</label>
                            <textarea id="observacao" name="observacao" rows="4" cols="50" required></textarea><br><br>
                        </form>
                
                <!-- Adicione mais campos conforme necessário -->
                <a href="#" > <button class= "botao" type="button">  <strong> PERSONALIZAR </strong></button></a>
            </form>

    
    </section>
</div>
<script>
    function selecionarCamiseta(tipo) {
        var imagemGrande = document.getElementById('imagem-grande');
        var tipoCamisetaInput = document.getElementById('tipo_camiseta');
        tipoCamisetaInput.value = tipo;
        if (tipo === "blank") {
            imagemGrande.src = "{{ url_for('static', filename='images/categorias/blank.jpg') }}"; // Carrega a imagem "blank"
        } else {
            imagemGrande.src = "{{ url_for('static', filename='images/categorias/') }}" + tipo + ".jpeg"; // Carrega a imagem grande correspondente ao tipo selecionado
        }
        imagemGrande.style.width = "200px"; // Define a largura desejada para a imagem
        imagemGrande.style.height = "auto"; // Mantém a proporção original da imagem
        document.getElementById('formulario').classList.remove('oculto'); // Mostra o formulário de personalização
    }
</script>

{% endblock %}