/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* cores */

:root {
    --azulclaro: #0098db;
    --azulescuro: #041521;
    --branco: #f6f6f6;
    --azulbotao: #00008B;
    --logoescura: #211f20;
}

/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* cabeçalho */

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:var(--branco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    height: 8rem;
}

header a{
    text-decoration: none;
}
  
header .navbar a{
    font-size: 25px;
    padding: 0 1.5rem;
    color: var(--azulescuro);
}

header .navbar a:hover{
    color: var(--azulclaro);
}

/*produtos*/

.produtos {
    padding-top: 200px; 
    margin-bottom: 20rem;
}

.produtos .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* boxes horizontalmente */
    gap: 2rem;
    padding: 0 2rem; /* espaçamento à esquerda e à direita */
    margin: 2rem 0; /* margem da parte superior e inferior da tela */
}

.produtos .box-container .box {
    padding: 30px;
    flex: 1 0 calc(25% - 1rem); 
    max-width: calc(25% - 1rem); 
    background-color: var(--branco);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    position: relative;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.produtos .box-container .box .categoria{
    text-align: center; 
    color: #00008B;
}

.produtos .box-container .box:hover{
    transform: scale(1.1);
}

.produtos .box-container .box .imagem{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.produtos .box-container .box .imagem img{
    height: 25rem;
}

.botao{
    background-color: #00008B;
    width: 20rem;
    height: 5rem;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
}

.botao:hover{
    background-color:var(--azulclaro);
}



/* estilização rodapé*/

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ajuste para iniciar o alinhamento vertical */
    background-color: var(--logoescura);
    margin: 0;
    padding: 12rem;
}

.titulo-rodape {
    font-family: "Orbitron", sans-serif;
    font-size: 38px;
    color: white;
    margin-bottom: 16px;
}

.logo-rodape {
    height: 27rem;
}

.redes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes-sociais {
    height: 2.25rem;
    margin-right: 8px;
}

.texto-redes-sociais {
    color: white;
    font-size: 25px;
}

.redes-container a {
    text-decoration: none;
}
