@import url('https://fonts.google.com/share?query=inter');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.botao-voltar {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px;
    font-size: 20px; 
    background-color: #2cc4d4;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
}

.botao-voltar:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem-redonda {
    border-radius: 8%;
    width: 200px; 
    height: auto; 
    margin: 0 auto;
    display: block;
}

.form {
    margin-top: 40px;
}

.form-header {
    text-align: center;
}

.title h1 {
    color: #333;
    text-align: left;
    
}

.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #2cc4d4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
 }

.input-group {
    margin-top: 40px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="password"],
.input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-box select {
    height: 40px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons button {
    width: calc(100% - 10px);
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

.or-divider {
    text-align: center;
    margin: 20px 0;
}

.or-divider span {
    background-color: #fff;
    padding: 0 10px;
}

.or-divider::before,
.or-divider::after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: #ccc;
}


.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #db4437;
}

.apple {
    background-color: #000;
}