/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* cores */

:root {
    --azulclaro: #0098db;
    --azulescuro: #041521;
    --branco: #f6f6f6;
    --azulbotao: #00008B;
    --logoescura: #211f20;
}

/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* cabeçalho */

header{
    top: 0; left: 0; right: 0;
    background:var(--branco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    height: 8rem;
}

header a{
    text-decoration: none;
}
  
header .navbar a{
    font-size: 25px;
    padding: 0 1.5rem;
    color: var(--azulescuro);
}

header .navbar a:hover{
    color: var(--azulclaro);
}

/*main*/
main {
    padding-top: 8rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto */
}

/* cabeçalho */

header{
    top: 0; left: 0; right: 0;
    background:var(--branco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    height: 8rem;
}

header a{
    text-decoration: none;
}
  
header .navbar a{
    font-size: 25px;
    padding: 0 1.5rem;
    color: var(--azulescuro);
}

header .navbar a:hover{
    color: var(--azulclaro);
}

.botao{
    background-color:var(--azulclaro) ;
    width: 5rem;
    height: 3rem;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
}
.botao:hover{
    background-color:#041521;
}

.botao1{
    background-color:var(--azulclaro) ;
    width: 15rem;
    height: 4rem;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
}

.botao1:hover{
    background-color:#041521;
}
.botao2{
    background-color:var(--azulclaro) ;
    width: 5rem;
    height: 3rem;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
}
.botao2:hover{
    background-color:#041521;
}

/* main*/

.subtitulo { 
    font-family: "Quicksand", sans-serif;
    color:#0b99db; 
    display: flex;
    justify-content: center;
    height: 70;
   
  }
  
  .topo{
  width: 1470px;
   height: 500px;
  }
  
  
  .Catalogo-de-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /*buttons*/ 
  
  .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-family: 'Sarala', sans-serif;
  }
  .buttons1{
    background-color: #0b99db;
    border: none;
    color:#f6f6f6 ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    animation: pulse 2s infinite;
    
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .buttons1:hover {
    animation: none;
  }
  
  .buttons2{
    background-color: #0b99db;
    border: none;
    color:#f6f6f6 ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    animation: pulse 2s infinite;
  
  }
  
  .buttons3{
    background-color: #0b99db;
    border: none;
    color:#f6f6f6 ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    animation: pulse 2s infinite;
  
  }
  .buttons1, .buttons2, .buttons3 {
    cursor: pointer;
  }
  
  /*texto*/
  .texto{
    text-align: center;
    margin-top: 20px;
    font-size: 15px
    
  }
  
   .d-block w-100{
      width: 450;
      height: 500;
   }
  
  /* carrossel */
  .carousel {
      margin-left: 15%;
      margin-right: 15%;
  }
  
  ul.slides {
      display: block;
      position: relative;
      height: 600px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
  }
  
  .slides * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
  }
  
  ul.slides input {
      display: none; 
  }
  
  
  .slide-container { 
      display: block; 
  }
  
  .slide-image {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0;
      transition: all .7s ease-in-out;
  }   
  
  .slide-image img {
      width: auto;
      min-width: 100%;
      height: 100%;
  }
  
  .carousel-controls {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      font-size: 100px;
      line-height: 600px;
      color: #fff;
  }
  
  .carousel-controls label {
      display: none;
      position: absolute;
      padding: 0 20px;
      opacity: 0;
      transition: opacity .2s;
      cursor: pointer;
  }
  
  .slide-image:hover + .carousel-controls label{
      opacity: 0.5;
  }
  
  .carousel-controls label:hover {
      opacity: 1;
  }
  
  .carousel-controls .prev-slide {
      width: 49%;
      text-align: left;
      left: 0;
  }
  
  .carousel-controls .next-slide {
      width: 49%;
      text-align: right;
      right: 0;
  }
  
  .carousel-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 999;
      text-align: center;
  }
  
  .carousel-dots .carousel-dot {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      margin: 10px;
  }
  
  input:checked + .slide-container .slide-image {
      opacity: 1;
      transform: scale(1);
      transition: opacity 1s ease-in-out;
  }
  
  input:checked + .slide-container .carousel-controls label {
       display: block; 
  }
  
  input#img-1:checked ~ .carousel-dots label#img-dot-1,
  input#img-2:checked ~ .carousel-dots label#img-dot-2,
  input#img-3:checked ~ .carousel-dots label#img-dot-3,
  input#img-4:checked ~ .carousel-dots label#img-dot-4,
  input#img-5:checked ~ .carousel-dots label#img-dot-5,
  input#img-6:checked ~ .carousel-dots label#img-dot-6 {
      opacity: 1;
  }
  
  
  input:checked + .slide-container .nav label { display: block; }
  
  
  /*avaliações*/
  
  .cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
   
  }
  .card{
   
    margin: 20px;
    background-color: #f6f6f6;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
  }
  .card .user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .star{
      width: 15px;
    }
  .card h3{
    font-family: "Orbitron", sans-serif;
    margin-bottom: 5px;
  }
  .card p{
   
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
  }
  .user1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .card1{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
  
  }
  
  
  .sobre{
      box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
  }

/* estilização rodapé*/

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ajuste para iniciar o alinhamento vertical */
    background-color: var(--logoescura);
    margin: 0;
    padding: 12rem;
}

.titulo-rodape {
    font-family: "Orbitron", sans-serif;
    font-size: 38px;
    color: white;
    margin-bottom: 16px;
}

.logo-rodape {
    height: 20rem;
}

.redes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes-sociais {
    height: 2.25rem;
    margin-right: 8px;
}

.texto-redes-sociais {
    color: white;
    font-size: 25px;
}

.redes-container a {
    text-decoration: none;
}