@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* cores */
:root {
    --azulClaro: #0098db;
    --fundo: #f6f6f6;
    --azulEscuro: #00008B;
    --rodape: #211f20;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/*botao voltar*/
.voltar {
    position: fixed;
    top: 2rem;
    left: 2rem;
}

.voltar button {
    padding: 2px;
    background-color: var(--azulEscuro);
    width: 5rem;
    height: 2rem;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.voltar button:hover {
    background-color: var(--azulClaro);
}

/*main*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 48px;
    gap: 300px;
}

.login-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    color: var(--azulEscuro);
    font-size: 46px;
    text-align: center;
    margin-bottom: 36px;
}

.form-group {
    color: var(--azulEscuro);
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    background-color: #f6f6f6;
    width: 150%;
    padding: 10px;
    border-radius: 30px;
}

.form-button {
    width: 150%;
    padding: 10px;
    background-color: var(--azulEscuro);
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.form-button:hover {
    background-color: var(--azulClaro);
}

p {
    font-size: 12px;
}

.frase {
    text-align: center;
    margin-top: 20px;
}

.frase img {
    width: 280px;
    margin-bottom: 12px;
}

h4 {
    font-size: 23px;
    color: var(--azulEscuro);
    margin-bottom: 12px;
}

h5 {
    font-size: 20px;
}
