/* Estilização da seção personalizar */
.personalizar {
    padding-top: 8px;
    margin-bottom: 20rem;
}

.personalizar .boxContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
    margin: 2rem 0;
}

.personalizar .boxContainer .box {
    padding: 30px;
    background-color: var(--fundo);
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalizar .formulario-container {
    display: flex;
    gap: 2rem;
    align-items: center; /* Centraliza verticalmente os itens */
}

#imagem-grande {
    width: 400px;
    height: auto;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    transform: translateX(-100px); /* Ajusta o valor conforme necessário */
}

.personalizar .formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left; /* Alinha o texto à esquerda */
    gap: 1rem;
}

.personalizar .formulario label {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: var(--azulescuro);
    font-weight: bold;  /* Adiciona peso à fonte */
    margin-bottom: 0.8rem;
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%;
}

.formulario input,
.formulario select,
.formulario textarea {
    padding: 0.8rem;
    border-radius: 20px;
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    width: 120%;
}

.formulario input[type="number"],
.formulario textarea {
    width: 120%;
    background-color: #f6f6f6;
}

.formulario input[id="especificacao"] {
    height: 6rem;
    background-color: #f6f6f6;
}

.personalizar .formulario .categoria {
    font-family: 'Quicksand', sans-serif;
    color: var(--azulclaro);
    font-size: 30px;
    margin-left: 8rem;
}

/* Estilo do botão de confirmação */
.personalizar .botao {
    background-color: var(--azulclaro); /* Azul claro */
    height: 5rem;
    width: 80%;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold; /* Adiciona peso à fonte */
    color: white;
    border-radius: 20px;
    margin-top: 0.5rem;
    margin-left: 80px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.personalizar .botao:hover {
    background-color: #041521; /* Azul escuro */
    transform: scale(1.05); /* Aumenta ligeiramente o botão ao passar o mouse */
}

  /*texto*/
  .texto1{
    text-align: left;
    margin-top: 10px;
    font-size: 15px
  }
