<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>MaximusCamisaria</title>
  </head>

  <body>
    <header>
        <a href="produtos.html" > <img class="logo" src="{{ url_for('static', filename='images/logoPNG.png') }}" alt="Logo"></a>

        <nav class="navbar">
            <a href="/">início</a>
            <a href="/produtos">produtos</a>
            <a href="#central">central</a>
            <a href="#favoritos">favoritos</a>
            <a href="#carrinho">carrinho</a>
            <a href="/login">Login</a>
        </nav>

    </header>


      <a href="/perfil/Renata">perfil do usuário</a>
   <h1>olá, essa é minha página <strong style="color: red;">HOME</strong></h1>
   
  </body>
</html>